.panel{
    border-radius: 0.3rem;
    padding: 1rem;
    margin-bottom: 1rem;
}
.contacthover:hover {
    color: #6c757d;
    transition-duration:0.5s ;
    background: #212529;
    border-radius: 10px;
    border: 5px solid #6c757d;
    cursor: pointer;
}

.container{
    border-radius: 10px;
}
